* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    height: 100%;
    width: 100%;
    font-family: Raleway;
}

.main {
    position: relative;
    overflow: hidden;
    
}

.page1 {
    position: relative;
    height: 100vh;
    width: 100vw;
}
.page1 video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* position: relative; */
}

.nav {
    display: flex;
    height: 100px;
    width: 100%;
    align-items: center;
    /* background-color: red; */
    padding: 0px 60px;
    justify-content: space-between;
    color: white;
    position: absolute;
}
.nav h2 {
    font-size: 25px;
    font-family: Brush Script MT, Brush Script Std, cursive;;

}
.nav h2 span {
    color: #0a3cce;
}
.nav-part2 {
    display: flex;
    align-items: center;
    gap: 10px;

    
}
.nav-part2 button {
    border: 1px solid white;
    color: white;
    border-radius: 50px;
    background-color: transparent;
    font-size: 12px;
    padding: 7px 20px;
    font-weight: 400;
    font-family: inherit;
}
.ri-menu-3-line {
    width: 50px;
}
.bottom-contant {
    position: absolute;
    left: -2%;
    top: 35%;
    color: white;
}
.bottom-contant h2 {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-size: 13vh;
    margin-bottom: 3vw;
    text-transform:uppercase;
    font-weight: 800;
    -webkit-text-stroke: 2px white;
    color: transparent;

}
/* .bottom-contant h2::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0%;
    background-color: white;
    transition: all 1s ease;
}
.bottom-contant h2:hover::after{
    width: 100%;
} */
.bottom-contant2 {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.bottom-contant2 h5 {
    font-size: 17px;
    font-weight: 100;
    width: 70%;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 3vw;
}
.bottom-contant2 button {
    border: 1px solid white;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    font-size: 13px;
    padding: 8px 20px;
    font-weight: 600;
    font-family: inherit;
}

.page2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}
.page2 h1 {
    font-weight: 500;
    font-size: 3vw;
    width: 60%;
    line-height: 1.9;
    color: rgb(126, 126, 126);
    /* color: rgb(54, 30, 159); */
}
.page2 h3 {
    font-weight: 600;
    font-size: 1.5vw;
    margin-bottom: 3vw;
    text-decoration: underline;
    text-underline-offset: 10px;
    color: rgb(56, 56, 56);

}

.page3 {
    position: relative;
    height: 100vh;
    width: 100%;
}
.page3 video {
    /* position: absolute; */
    /* height: 140vh; */
    width: 100vw;
    object-fit: cover;
}

.page4 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}
.page4 h1 {
    font-weight: 500;
    font-size: 3vw;
    width: 60%;
    line-height: 1.9;
    color: rgb(126, 126, 126);
    /* color: rgb(54, 30, 159); */
}
.page4 h3 {
    font-weight: 600;
    font-size: 1.5vw;
    margin-bottom: 3vw;
    text-decoration: underline;
    text-underline-offset: 10px;
    color: rgb(56, 56, 56);

}

.page5{
    position: relative;
    height: 100vh ;
    width: 100vw;
    align-items: center;
    justify-content: center;
    color: white;
    display: flex;
    flex-direction: column;
}
.page5 video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}
.page5 h1 {
    position: absolute;
    margin-top: -30vh;
    margin-left: 52.5%;
    margin-bottom: 4vw;
}
.page5-inner {
    position: absolute;
    margin-bottom: 4vw;
    margin-left: 63%;

}
.page5-inner h5 {
    width: 70%;
    margin-bottom: 2vw;
    font-size: 2.5vh;
    font-weight: 100;
}
.page5-inner button {
    padding: 7px 15px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    font-size: 13px;
}

.page6 {
    position: relative;
    width: 100vw;
    height: 140vh;
    background-color:  white;
    text-align: center;
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
}
.page6 h2 {
    font-size: 3vw;
    color: rgb(0, 0, 0);
    margin-top: 5vw;
    font-weight: 800;
    -webkit-text-stroke: 1px rgb(64, 207, 250);
    color:  #0a3cce;
    margin-bottom: 5vw;
}

.cards {
    margin: 0 auto;
    display: grid;
    gap: 0rem;
}

.card {
    color: white;
    padding: 0rem;
    overflow: hidden;
}
.card img {
    width: 85%;
    height: 85%;
    object-fit: cover;
    transition: all 1s ease;
}
.card img:hover {
    scale: 1.1;
}
  

  @media (min-width: 600px) {
    .cards { grid-template-columns: repeat(2, 1fr); }
  }
  @media (min-width: 900px) {
    .cards { grid-template-columns: repeat(3, 1fr); }
  }


.page7 {
    position: relative;
    width: 100vw;
    height: 100vh; 
}
.inner7 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    padding: 0px 50px;
}
.inner7 img {
    width: 100%;
    margin-left: 20%;
}
.cont h1 {
    font-size: 8vh;
    font-weight: 900;
    margin-bottom: 2vw;
    -webkit-text-stroke: 2px  #0a3cce;
    color: transparent;
}
.cont p {
    line-height: 1.5;
    margin-bottom: 2vw;
    font-family: inherit;
    font-weight: 400;
}
.cont button {
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 14px;
    border: none;
    cursor: pointer;
    background-color:  #0a3cce;
}

.cont button:hover {
    background-color: black;
    color: white;
    transition: all 1s ease;

}

/* page8  */

.page8{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #0a3cce;
}
.page8>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.page8-bottom{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-family: Raleway;
}
.page8-bottom>h1{
    color: #fff;
    margin-bottom: 2vw;
    font-size: 5vw;
    font-weight: 100;
}
.page8-bottom>button{
    padding: 15px 20px;
    border-radius: 50px;
    border: none;
    font-weight: 400;
    cursor: pointer;
    background-color: #fff;
    color: #0a3cce;
}


/* page9  */
.page9{
    display: flex;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #0a3cce;
}
.left9{
    height: 100%;
    width: 40%;
    position: relative;
    font-family: Raleway;
}
.left9>h1{
    position: absolute;
    top: 40%;
    right: 10%;
    transform: translateY(-50%);
    font-size: 5vw;
    font-weight: 100;
    color: #fff;
    line-height: 1;
}
.right9{
    height: 100%;
    width: 60%;
    position: relative;
}
.right9-center{
    height: 70%;
    width: 85%;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(https://thisismagma.com/wp-content/uploads/2023/04/magma.wp2.cubdev.com-home-1.jpeg);
    background-size: cover;
    left: 5%;
}

/* page10  */
.page10{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #0a3cce;

}
.right10{
    height: 100%;
    width: 60%;
    position: relative;
    left: 40%;
}
.right10-inner{
    display: flex;
    align-items: start;
    flex-direction: column;
    height: 33.3%;
    width: 100%;
    font-family: Raleway;
    color: #fff;
}
.right10-inner>h1{
    font-size: 2vw;
    margin-top: 6%;
}
.right10-inner>p{
    margin-top: 2vw;
    font-size: 1.3vw;
    width: 80%;
    font-weight: 100;
}

/* page11  */

.page11{
    position: relative;
    height: 110vh;
    width: 100vw;
    background-color: #fff;
    font-family: Raleway;
}
.page11>h1{
    position: absolute;
    top: 5%;
    left: 10%;
    font-size: 4vw;
    color: #000;
    font-weight: 100;
}
.page11-inner{
    display: flex;
    top: 18%;
    position: relative;
    margin-bottom: 2vw;
    height: 24%;
    width: 100%;
}
.left11{
    position: relative;
    height: 100%;
    width: 40%;
    left: 5%;
    border-radius: 10px;
    overflow: hidden;
}
.left11>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.right11{
    padding-top: 5vw;
    color: #000;
    left: 50%;
    position: absolute;
    height: 100%;
    width: 50%;
}
.right11>h4{
    font-weight: 100;
}
.right11>h1{
    font-size: 2vw;
}


      