/* REsponsive Tablets  */

@media screen and (min-width: 600px) and (max-width: 768px) {

    .nav {
        height: 60px;
        padding: 0px 13px;
    }

    .nav h2 {
        font-size: 18px;
        font-weight: 900;
    }

    .nav-part2 button {
        font-size: 9px;
        padding: 5px 12px;
    }

    .nav h2 span {
        color:  #0a3cce;
    }

    .bottom-contant h2 {
        font-size: 5.7vh;
        margin-bottom: 5vw;
    }

    .bottom-contant2 h5 {
        font-size: 13px;
        font-weight: 200;
        width: 95%;
        margin-bottom: 5vw;
    }

    .bottom-contant2 button {
        font-size: 11px;
        padding: 7px 12px;
    }

    .page1 video {
        object-position: 30%;
    }

    /* page2  */
    .page2 {
        height: 70vh;
    }
    
    .page2 h3 {
        font-size: 3.5vw;
        margin-bottom: 7vw;
    }

    .page2 h1 {
        font-size: 4vw;
        width: 80%;
    }

    /* page3  */
    .page3 {
        height: 50vh;
    }

    /* page4  */
    .page4 {
        height: 70vh;
    }

    .page4 h3 {
        font-size: 3.5vw;
        margin-bottom: 7vw;
    }

    .page4 h1 {
        font-size: 4vw;
        width: 80%;
    }

    /* page5  */
    .page5{
        height: 30vh;
    }

    .page5 video {
        height: 45vh;
        width: 100vw;
        object-fit: cover;
    }

    .page5 h1 {
        position: absolute;
        margin-top: -10vh;
        margin-left: 62.5%;
        margin-bottom: 4vw;
        font-size: 2.3vh;
    }

    .page5-inner {
        position: absolute;
        margin-bottom: 4vw;
        margin-left: 68%;
    
    }

    .page5-inner h5 {
        width: 80%;
        margin-bottom: 2vw;
        font-size: 1.3vh;
        font-weight: 100;
        margin-top: 9vh;
    }

    .page5-inner button {
        padding: 5px 8px;
        font-size: 7px;
    }

    /* page6  */
    .page6 {
        height: 165vh;
    }
    
    .page6 h2 {
        font-size: 7vw;
        margin-top: 14vw;
        margin-bottom: 13vw;
        -webkit-text-stroke: 0.8px rgb(0, 0, 0);
        color:  #0a3cce;
    }
    .cards {
        overflow: hidden;
    }
    .card img {
        object-fit: cover;
        transition: all 1.s ease;
    }
    .card img:hover{
        scale: 1.1;
    }

    /* page7  */
    .page7 {
        height: 85vh;
    }

    .inner7{
        flex-direction: column;
    }
    .inner7 img {
        width: 80vh;
        height: 55vh;
        margin-left: 0%;
    }

    .cont {
        margin-left: -4vh;
    }

    .cont h1 {
        font-size: 5.5vh;
        margin-bottom: 4vw;
    }
    .cont p {
        margin-bottom: 4vw;
        font-size: 18px;
        width: 60%;
        color: gray;
    }
    .cont button {
        padding: 12px 25px;
        font-size: 17px;
    }

    /* page8  */
    .page8>video {
        height: 100%;
    
    }
    .page8-bottom {
        bottom: 5%;
        left: 50%;
    }
    .page8-bottom>h1 {
        font-size: 8vw;
        margin-bottom: 4vw;
    }
    .page8-bottom>button {
        padding: 10px 15px;
        font-size: 10px;

    }

    /* page9  */

    .page9{
        height: 50vh;

    }

    .right9-center {
        height: 60%;
        width: 85%;
        top: 50%;
        left: 5%;
    }
    .left9>h1{
        top: 50%;
        right: 10%;
        font-size: 7vw;
    }

    /* page10  */

    .page10{
        height: 90vh;
    
    }

    .right10{
        height: 100%;
        width: 60%;
        position: relative;
        left: 25%;
    }

    .right10-inner{
        height: 44vh;
        width: 110%;
    }

    .right10-inner>h1{
        font-size: 5vw;
        margin-top: 10%;
    }
    .right10-inner>p{
        margin-top: 2vw;
        font-size: 3.3vw;
        width: 100%;
        font-weight: 100;
    }

    /* page11  */

    .page11 {
        height: 80vh;
    }

    .page11>h1 {
        top: 5%;
        left: 5%;
        font-size: 9vw;
    }
    .page11-inner {
        display: flex;
        top: 24%;
        position: relative;
        margin-bottom: 4vw;
        height: 23%;
        width: 100%;
    }
    .right11>h4{
        font-weight: 100;
        margin-bottom: 2vw;
    }
    .right11>h1{
        font-size: 2.5vw;
    }


    /* page12  */

.page12{
    position: relative;
    /* display: none; */
    height: 100vh;
    width: 100vw;
    background-color: #0a3cce;
}
/* .page12>canvas{
    position: relative;
    min-height: 100vw;
    min-height: 100vh;
} */

    /* page13  */

    .page13{
        position: relative;
        height: 80vh;
        width: 100vw;
        top:30vw;
        background-color: #0a3cce;
    }
    .page13-inner{
        position: absolute;
        top: 17%;
        right: 12%;
        color: #fff;
        font-family: Raleway;
    }
    .page13-inner>h1{
        font-size: 8vw;
        font-weight: 100;
    }
    .page13-inner>p{
        font-size: 2.4vw;
        margin-top: 5%;
        line-height: 1.6;
    }


    /* page14  */

    .page14{
        position: relative;
        height: 55vh;
        width: 100vw;
        background-color: #000;
        color: #fff;
        font-family: Raleway;
        padding: 14vw 13vw;
    }
    .page14>h1{
        font-size: 9vw;
        line-height: 1.2;
        font-weight: 100;
    }
    .page14>button {
        padding: 18px 27px;
        font-size: 16px;
        border: none;
        background-color: #0a3cce;
        color: #fff;
        border-radius: 50px;
        margin-top: 5vw;
    }

    /* page15  */

    .page15-inner>i{
        font-weight: 100;
        font-size: 7vw;
        position: relative;
        z-index: 9999;
    }
    .page15-inner>h1{
        font-size: 5vw;
        font-weight: 100;
        position: relative;
        z-index: 9999;
    }

}